Keras==2.2.4
tensorflow-cpu==1.15.0
opencv-python==4.1.0.25
numpy==1.17.0
Flask==1.1.1
matplotlib==3.1.1
certifi==2020.4.5.1
click==7.1.2
gunicorn==20.0.4
itsdangerous==1.1.0
Jinja2==2.11.2
MarkupSafe==1.1.1
Werkzeug==1.0.1
wincertstore==0.2
python-telegram-bot==13.0